.gallery__like {
  border: none;
  padding: 11px;
  background: url(../../../images/heart.svg) no-repeat center;
}

.gallery__like:hover {
  opacity: 0.8;
  transition: opacity 0.7s ease;
}

.gallery__like:active {
  background: url(../../../images/heart_active.png) no-repeat center;
}
