@import url(../vendor/normalize.css);
@import url(../vendor/fonts/inter.css);
@import url(../blocks/root/root.css);
@import url(../blocks/wrapper/wrapper.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__photo/profile__photo.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__profession/profile__profession.css);
@import url(../blocks/profile/__edit-button/profile__edit-button.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__input/popup__input.css);
@import url(../blocks/popup/__submit/popup__submit.css);
@import url(../blocks/popup/__close/popup__close.css);
@import url(../blocks/gallery/__elements/gallery__elements.css);
@import url(../blocks/gallery/__element/gallery__element.css);
@import url(../blocks/gallery/__photo/gallery__photo.css);
@import url(../blocks/gallery/__underscribe/gallery__underscribe.css);
@import url(../blocks/gallery/__like/gallery__like.css);
@import url(../blocks/gallery/__place/gallery__place.css);
@import url(../blocks/gallery/__delete/gallery__delete.css);
@import url(../blocks/add-photo/add-photo.css);
@import url(../blocks/add-photo/_opened/add-photo_opened.css);
@import url(../blocks/add-photo/__container/add-photo__container.css);
@import url(../blocks/add-photo/__title/add-photo__title.css);
@import url(../blocks/add-photo/__input/add-photo__input.css);
@import url(../blocks/add-photo/__submit/add-photo__submit.css);
@import url(../blocks/add-photo/__close/add-photo__close.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);


.popup-photo {
  display: flex;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.2s, opacity 0.7s ease;
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
}

.popup-photo_opened {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.7s ease;
}

.popup-photo__container {
  position: relative;
}

.popup-photo__img{
  display: block;
  max-width: 75vw;
  max-height: 75vh;
}

.popup__title {
  margin: 0;
  padding-top: 10px;
  font-weight: 400;
  font-size: 12px;
  text-align: start;
  color: white;
}

.popup-photo__close {
  position: absolute;
  top: -40px;
  right: -38px;
  padding: 16px;
  background-image: url(../images/Close-Icon.svg);
  background-color: black;
  border: none;
  cursor: pointer;
}

.popup-photo__close:hover {
  opacity: 0.6;
  transition: opacity 0.7s ease;
}

@media screen and (max-width: 700px) {
  .popup-photo__close {
    background: url(../images/Close-Icon_mini.svg) no-repeat;
    top: -36px;
    right: -10px;
  }
}
